.detalles-sensores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  gap: 16px;
  height: 32px;
}

.detalles-sensores div {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
}

.contador {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 24px;
}

.contador div {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
