@keyframes animar-sensor-a {
  0%,
  24% {
    background-color: rgb(210, 210, 30);
  }
  25%,
  49% {
    background-color: chocolate;
  }
  50%,
  74% {
    background-color: rgb(210, 210, 30);
  }
  75% {
    background-color: chocolate;
  }
}

@keyframes animar-sensor-b {
  0%,
  49% {
    background-color: rgb(210, 210, 30);
  }
  50% {
    background-color: chocolate;
  }
}

@keyframes animar-sensor-c {
  0%,
  11% {
    background-color: chocolate;
  }
  11.5%,
  12.3% {
    background-color: rgb(210, 210, 30);
  }
  12.8%,
  18% {
    background-color: chocolate;
  }
  18.5%,
  19.3% {
    background-color: rgb(210, 210, 30);
  }
  19.8%,
  40.5% {
    background-color: chocolate;
  }
  41%,
  41.8% {
    background-color: rgb(210, 210, 30);
  }
  42.3%,
  44.8% {
    background-color: chocolate;
  }
  45.3%,
  46.1% {
    background-color: rgb(210, 210, 30);
  }
  46.6%,
  65.4% {
    background-color: chocolate;
  }
  65.9%,
  66.3% {
    background-color: rgb(210, 210, 30);
  }
  66.8%,
  70.1% {
    background-color: chocolate;
  }
  70.6%,
  71.4% {
    background-color: rgb(210, 210, 30);
  }
  71.9%,
  88.5% {
    background-color: chocolate;
  }
  89%,
  89.5% {
    background-color: rgb(210, 210, 30);
  }
  90%,
  91% {
    background-color: chocolate;
  }
  91.5%,
  92% {
    background-color: rgb(210, 210, 30);
  }
  92.5%,
  100% {
    background-color: chocolate;
  }
}

.detalles-sensores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 16px;
  height: 32px;
}

.detalles-sensores div {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
}

.contador {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 24px;
}

.contador.mover {
  animation: animar-sensor-c 30s linear;
}

.sensor-a.mover {
  animation: animar-sensor-a 30s linear;
}

.sensor-b.mover {
  animation: animar-sensor-b 30s linear;
}

.contador div {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
