.entradas-salidas {
  display: flex;
  gap: 16px;
  border: 1px solid #ccc;
  padding: 0 16px;
}

.entradas-salidas ul {
  display: flex;
  padding-left: 0px;
}

.entradas-salidas h4 {
  margin-bottom: 0px;
  padding-top: 5px;
  text-align: center;
}

.entradas-salidas li {
  padding: 2px 6px;
  border: 1px solid #ccc;
}

.bg {
  background-color: #52745072;
}
