/* 1px = 5mm */

/* ANIMACIONES */
@keyframes mover-cadena {
  0%,
  2% {
    transform: translateX(-465px);
  }
  25%,
  35% {
    transform: translateX(-145px);
  }
  50%,
  60% {
    transform: translateX(175px);
  }
  75%,
  85% {
    transform: translateX(495px);
  }
  100% {
    transform: translateX(1135px);
  }
}

@keyframes mover-pistola {
  0%,
  2% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-180px);
  }
  35% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  55% {
    transform: translateY(-180px);
  }
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(0px);
  }
}

@keyframes mover-lanza {
  0%,
  2% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-180px);
  }
  35% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  55% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-180px);
  }
  85% {
    transform: translateY(0px);
  }
}

@keyframes animar-sensor-a {
  0%,
  7.5% {
    background-color: rgb(210, 210, 30);
  }
  8.5%,
  45% {
    background-color: chocolate;
  }
  46%,
  64% {
    background-color: rgb(210, 210, 30);
  }
  65% {
    background-color: chocolate;
  }
}

@keyframes animar-sensor-b {
  0%,
  7.5% {
    background-color: rgb(210, 210, 30);
  }
  8.5% {
    background-color: chocolate;
  }
}

.presentacion {
  position: relative;
  border: 1px solid #ccc;
  margin-top: 32px;
  width: 1200px;
  margin: 32px auto 0px;
  overflow-x: hidden;
  border-bottom: 2px solid rgb(7, 2, 45);
}

.cadena {
  position: absolute;
  top: 40px;
  background-color: #1e0303;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.5;
}

.cabina {
  position: relative;
  border: 1px solid #072c7b;
  width: 400px;
  height: 500px;
  margin-right: 64px;
  margin-left: auto;
  margin-top: 20px;
}

.lanza {
  position: absolute;
  bottom: 10px;
  right: 110px;
  width: 15px;
  height: 180px;
  background-color: #35077b;
  opacity: 0.5;
}

.lanza.mover {
  animation: mover-lanza 30s ease-in;
}

.pistola {
  position: absolute;
  bottom: 190px;
  left: 160px;
  width: 40px;
  height: 15px;
  background-color: #35077b;
  opacity: 0.5;
  border-radius: 8px 0px 0px 8px;
}

.pistola.mover {
  animation: mover-pistola 30s ease-in-out;
}

.perchas {
  position: absolute;
  top: 40px;
  display: flex;
  gap: 80px;
  transform: translateX(-465px);
}

.perchas.mover {
  animation: mover-cadena 30s ease-in-out;
}

.percha {
  width: 80px;
  height: 300px;
}

.carro {
  width: 30px;
  height: 30px;
  margin: 2px auto 0px;
  background-color: #0b4ad2;
  opacity: 0.5;
}

.varilla {
  position: relative;
  background-color: #0b4ad2;
  width: 10px;
  height: 60px;
  margin: 0 auto;
  opacity: 0.5;
}

.giro {
  position: absolute;
  background-color: #072c7b;
  width: 40px;
  height: 20px;
  top: 12px;
  left: -15px;
  border-radius: 4px;
}

.pieza {
  border: 1px solid #ccc;
  height: 190px;
  width: 76px;
  margin: 0 auto;
}

.tacho {
  background-color: rgb(28, 54, 3);
  width: 76px;
  height: 190px;
}

.fondo {
  background-color: rgb(45, 87, 6);
  width: 35px;
  height: 190px;
  margin: 0 auto;
}

.vacio {
}

[class^='pr-sensor'] {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: chocolate;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-sensor-a {
  top: 200px;
  left: 682px;
}

.pr-sensor-a.mover {
  animation: animar-sensor-a 30s linear;
}

.pr-sensor-b {
  top: 200px;
  left: 522px;
}

.pr-sensor-b.mover {
  animation: animar-sensor-b 30s linear;
}

.pr-sensor-c {
  top: 45px;
  left: 800px;
}
