@import url('./components/EntradasYSalidas.css');
@import url('./components/Botonera.css');
@import url('./components/DetallesSensores.css');
@import url('./components/Presentacion.css');

*, *: before, *: after {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
